body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ebf8ff, #ffcf9f);
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    max-width: 1000px;
    width: 50%;
    padding-top: 150px;
    margin: 0 auto;
    padding-bottom: 100px;
}

h1 {
    color: #ff6600;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 30px;
}

/*
button {
    background-color: #ff6600;
    color: white;
    border: none;
    width: 70%;
    padding: 15px 30px;
    font-size: 19px !important;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

button#paypal {
    background-color: #ff6600;
}

button#paypal:hover {
    background-color: #e65c00;
}

button[name="credit"] {
    background-color: #ff8533;
}

button[name="credit"]:hover {
    background-color: #e67300;
}
*/
@media (max-width: 768px) { 
    .container {
        padding-top: 100px;
        text-align: center; 
        width: 90%; 
    }

    /*button {
        width: 90%; 
        font-size: 18px !important; 
    }
*/
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    #paypal-button-container {
        width: 80%;
        margin-left: 10%;
    }
}

#paypal-button-container {
    width: 70%;
    margin-left: 15%;
}

