body {
    background-image: url('delivery-concept-portrait-handsome-african-american-delivery-man-courier-with-hand-truck-holding-box-isolated-grey-studio-background-copy-space_1258-102315.jpg');
    width: 50%;
    margin-left: 400px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Light background color */
}

.page-content {
    height: 100vh; /* Full height for the page */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    
    width: 100%;
}

.jumbotron {
    text-align: center;
    padding: 50px 20px; /* Padding around the jumbotron */
    background-color: #b2f4f8ba; /* Gray background for the jumbotron */
    color: rgb(0, 0, 0); /* White text color */
    position: relative;
}

.jumbotron-bg {
    background-image: url('assets/img/bg-header.jpg'); /* Path to your background image */
    background-size: cover; /* Cover the entire jumbotron */
    background-position: center; /* Center the background image */
}

.card-login {
    width: 70%;
    background-color: rgb(253, 140, 109); /* Slightly transparent white for the card */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 20px auto; /* Margin above the card */
    margin-left: 100px;
}

.card-body {
    padding: 20px; /* Padding inside the card */
}

.form-group {
    margin-bottom: 15px; /* Space between form groups */
}

.form-control {
    width: 80%; /* Full width for input fields*/
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.btn{
    width: 170px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}


.lead{
    font-size: 25px;
    font-weight: bold;
    color: rgb(16, 16, 110);
}

#checkbox0{
    transform: scale(1.5);
}

.text-light{
    font-size: 15px;
}