body {
  background-image: url("delivery-concept-portrait-handsome-african-american-delivery-man-courier-with-hand-truck-holding-box-isolated-grey-studio-background-copy-space_1258-102315.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white; 
}

.page-content {
  min-height: 100vh; /* Full height for the page */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.jumbotron {
  padding: 50px 20px;
  background-color: #FF8000;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.jumbotron-bg {
  background-image: url("assets/img/bg-header.jpg");
  background-size: cover;
  background-position: center;
} 

.card-login {
  width: 70%;
  max-width: 500px;
  background-color: #FF8000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(213, 117, 0, 0.858);
  margin-top: 20px;
  margin-right: auto; 
  margin-left: auto; 
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px; /* Space between form groups */
}

.form-control {
  width: 80%; /* Full width for input fields */
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
}

.remember-forgot .col-md-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password-link {
  color: white; 
  font-size: 16px; 
  text-decoration: none; 
  display: flex; 
  align-items: center;
}

.forgot-password-link i {
  margin-right: 5px; 
  font-size: 18px; 
}

.forgot-password-link:hover {
  color: #f0f0f0; 
}

.btn {
  width: 170px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
}

#checkbox0 {
  transform: scale(1.5);
}

.text-light {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  /* Tablet and mobile styles */
  .jumbotron {
    padding: 30px 10px;
  }

  .card-login {
    width: 90%; /* Reduce width for smaller screens */
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* Mobile specific styles */
 

  h1 {
    font-size: 24px;
  }

  .btn {
    font-size: 16px;
  }

  .form-control {
    font-size: 14px;
    height: 35px;
  }
}